@{
    ViewBag.Title = "Login";
}
<h1>Sign Up</h1>
<hr />
<form class="form form--signup" method="post" action="/signup">
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="Email" name="email" required />
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
        <input type="text" class="form-control" placeholder="Name" name="name" required />
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="Password" name="password" required />
    </div>
    <br />
    <div class="input-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    @if (ViewBag.error != null)
    {
        <br />
        <div class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span> @ViewBag.error</div>
    }
</form>